.container {
    display: flex;
    width: 200;
    justify-content: flex-end;
}

.inputs {
    width: 250px;
}

.input, .equals {
    height: 50;
    width: 50px;
}

.clear {
    display: flex;
    width: 50;
    min-width: 50;
    justify-content: center;
}

.display {
    padding-right: 5;
    max-width: 140;
    min-height: 25;
    word-wrap: break-word;
    
}

.display-boc {
    border: 2px solid #ccc;
    width: 140;
}