.container {
    display: flex;
    width: 200;
    justify-content: flex-end;
    /* flex-grow: 1; */
    /* flex-direction: column; */
}

.inputs {
    width: 250px;
}

.input, .equals {
    height: 50;
    width: 50px;
}

.back {
    display: flex;
    width: 50;
}

.display {
    padding-right: 5;
}